#entryContent {
  /* This is needed in order to make line breaks typed into new text appear as new lines as opposed to just all mashing together. */
  white-space: pre-wrap;
}

.black {
  color: black;
}

.green {
  color: green;
}

.blue {
  color: blue;
}