#entryContent {
  /* This is needed in order to make line breaks typed into new text appear as new lines as opposed to just all mashing together. */
  white-space: pre-wrap;
}

.black {
  color: black;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.brown {
  color: brown;
}

.pink {
  color: pink;
}

.contentDivider {
  border: 1px solid #555555;
  opacity: 0.5;
}
